<app-heading>Sign In</app-heading>

<form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <app-input
    label="E-mail address"
    name="email"
    type="email"
    formControlName="email"
    [input]="formControls.email"
  ></app-input>

  <app-input
    label="Password"
    name="password"
    type="password"
    formControlName="password"
    [input]="formControls.password"
  ></app-input>

  <div *ngIf="formError">
    {{ formError }}
  </div>

  <app-button (click)="signIn()"> Sign in </app-button>
  <div>or</div>
  <app-button routerLink="/sign-up">Sign up</app-button>
</form>
