<app-heading>Sign Up</app-heading>

<app-input label="Name" name="name" type="text"></app-input>
<app-input label="E-mail address" name="e-mail" type="email"></app-input>
<app-input label="Password" name="password" type="password"></app-input>
<app-input
  label="Confirm password"
  name="confirm-password"
  type="password"
></app-input>

<app-acceptance name="privacy-policy">
  I accept <a href="#">privacy policy</a>
</app-acceptance>

<button>Sign up</button>
<div>or</div>
<a href="#">Log in</a>
