<app-heading>Sign Up</app-heading>

<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <app-input
    label="Name"
    name="name"
    type="text"
    formControlName="name"
    [input]="formControls.name"
  ></app-input>

  <app-input
    label="E-mail address"
    name="email"
    type="email"
    formControlName="email"
    [input]="formControls.email"
  ></app-input>

  <app-input
    label="Password"
    name="password"
    type="password"
    formControlName="password"
    [input]="formControls.password"
  ></app-input>

  <app-input
    label="Confirm password"
    name="confirm-password"
    type="password"
    formControlName="confirmPassword"
    [input]="formControls.confirmPassword"
  ></app-input>

  <app-acceptance
    name="privacy-policy"
    formControlName="privacyPolicy"
    [input]="formControls.privacyPolicy"
  >
    I accept <a href="#">privacy policy</a>
  </app-acceptance>

  <app-form-response></app-form-response>

  <app-button (click)="signUp()">Sign up</app-button>
  <div>or</div>
  <app-button routerLink="/sign-in">Sign in</app-button>
</form>
